/*GENEREL STYLING*/

body {

    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 65px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 300;
}

h2 {
    font-weight: 300;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
}

h3 {
    font-size: 35px;
    font-weight: 300;
    margin: 0;
}

h4 {
    font-weight: 300;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
}

h5 {
    font-size: 25px;
    font-weight: 300;
    margin: 0;
}

h6 {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

hr {
    width: 200px;
    height: 3px;
    border: 0;
    border-top: 3px solid #b5ff90;
    margin-top: 0;
    margin-left: 320px;
}

p {
    font-size: 12px;
}

/*HEADER*/

header { 
    display: flex;
    background-color: rgba(240,239,237,0.9);
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
}

#logo {
    height: 40px;
    margin-left: 25px;
    margin-top: 10px;
}

.dropdown {

    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    cursor: pointer;
    padding: 0.25rem;
    position: relative;
}

.dropdown ul {
    
    background-color: rgba(240,239,237,0.9);
    width: 100%;
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    list-style-type: none;
    margin: 0;
    padding: 30px;
    font-size: 12px;
}

.dropdown ul ul {
    left: 100%;
    position: absolute;
    top: 0;
    font-size: 12px;
}

.dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-left: 3px solid #b5ff90;
}

.dropdown li:hover > ul {
    display: block;
}

.dropdown_item {
    padding: 20px 35px 20px 35px;
    font-size: 14px;
}



#søge_ikon {
    height: 20px;
    margin-right: 100px;
    margin-top: 22px;
}




/*FORSIDE*/

#forside_singapore { 
    height: 750px;
    background-image: url(images/singapore_forside.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#forside_singapore_tekst {
color: #b5ff90;
position: absolute;
top: 300px;
left: 100px;
}

#forside_singapore a {
    color: #b5ff90;
}

#forside_singapore_tekst p {
    width: 25%;
    margin-top: 0;
    font-weight: 300;
    font-size: 16px;
}

.læsmere_knap_grøn {
    border: 2px solid #b5ff90;
    width: 100px;
    padding: 7px 15px 7px 25px;
    font-size: 16px;
    margin-top: 30px;
}

/*POPULÆRE DESTINATIONER*/

.tre_kort {
    display: flex;
    justify-content: space-between;
}

.tre_kort a {
    color: white;
}

#kort_norge {
    background-image: url(images/norge.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 65%;
    margin-top: 75px;
    margin-right: 45px;
}

.tre_kort_stor_tekst {
    position: relative;
    top: 430px;
    left:200px;
}

.tre_kort_stor_tekst h3 {
    font-size: 45px;
}

#kort_norge hr {
    position: relative;
    top: 435px;
    right: 350px;
    width: 310px;
}

#kort_australien {
    background-image: url(images/australien.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    width: 500px;
    height: 320px;
    margin-top: 100px;
}

#kort_groenland {
    background-image: url(images/groenland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    width: 500px;
    height: 320px;
    margin-top: 25px;
}

.tre_kort p {
    width: 200px;
    font-size: 13px;
    margin: 0;
}

.to_kort_tekst {
    border-left: 3px solid #b5ff90;
    position: relative;
    top: 135px;
    padding-left: 10px;
    margin-left: 20px;
}



/*MEST LÆSTE*/


.artikel_overview {
    height: 700px;
}

.artikel_overview hr {
    margin-left: 490px;
}

.fire_kort {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: 100px;
    margin-top: 80px;
}

.fire_kort img:hover {
    transform: scale(1.05);
}

.fire_kort a {
    color: black;
    width: 230px;
}

.fire_kort img {
    height: auto;
    width: 240px;
}


.fire_kort p {
    font-size: 13px;
    margin: 0;
}

.farvet_kasse {
    height: 400px;
    margin-left: 65px;
    background-color: #fef6e9;
    position: relative;
    bottom: 350px;
    z-index: -1;
}


/*TEST DIG SELV*/
#test_dig_selv {
    height: 700px;
    background-image: url(images/mountain_road.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 200px;
}

#test_dig_selv h3 {
    font-size: 60px;
    position: relative;
    bottom: 50px;
    margin-left: 300px;
}

#test_dig_selv p {
    font-size: 30px;
    width: 100%;
    position: relative;
    left: 450px;
    bottom: 60px;
    width: 480px;
    border-left: 3px solid #b5ff90;
    padding-left: 15px;
    margin-bottom: 10px;
}

.sort_knap {
    border: 2.5px solid black;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    text-align: center;
    position: relative;
    bottom: 60px;
    left: 675px;
}


/* OPLEV */

#kultur_hr {
    margin-bottom: 100px;
    position: relative;
    width: 175px;
    left: 175px;
}

#kultur {
    height: 800px;
    display: flex;
    font-weight: 400;
}

#kultur a {
    color: black;
}

#kultur img:hover {
    transform: scale(1.05);
}

/*KULTUR - VENSTRE SEKTION*/

.kultur_venstre {
    height: 300px;
    background-color: #fef6e9;
    width: 50%;
    margin-right: 25px;
}

#tekst_spanien {
    width: 55%;
    padding-left: 20px;
    border-left: 3px solid #b5ff90;
    position: relative;
    top: 65px;
    left: 120px;
}

#tekst_spanien p {
    font-size: 14px;
    width: 275px;
}


.kultur_venstre img {
    width: 371px;
    position: relative;
    left: 290px;
    top: 20px;
}


/*KULTUR - HØJRE SEKTION*/

.kultur_højre {

  width: 50%;
    margin-left: 25px;
}

.kultur_højre div {
    display: flex;
    margin-bottom: 20px;
}


.kultur_tekst {
    flex-wrap: wrap;
    padding-left: 35px;
    background-color: #fef6e9;
    height: 200px;
}

.kultur_højre img {
    display: flex;
    height: 200px;
    width: auto;      
}

.kultur_højre p {
    font-size: 14px;
    width: 70%;
}

.kultur_højre h5 {
    margin-top: 30px ;
    margin-right: 50px;
}

/*FOOTER*/

footer img:hover {
    transform: scale(1.05);
}

footer h4 {
    font-size: 20px ;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 40px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer hr {
    width: 250px;
    position: relative;
    left: 75px;
    top: 40px;
}

.instagram_billeder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 87.5px;
}

.instagram_billeder img {
    width: 175px;
    margin-left: 5px;
    margin-right: 5px;
}

.om_os {
    background-color: #fef6e9;
    display: flex;
    justify-content: space-around;
    padding: 200px 100px 100px 100px ;
}

.om_os p {
    font-size: 14px;
}

#omos_tekst {
    width: 50%;
}

#omos_tekst p {
    width: 95%;
}

#kontakt {
    border-left: 2px solid black;
    padding-left: 60px;
}

#følg_os {
    border-left: 2px solid black;
    padding-left: 60px;  
}

.om_os img {
    height: 50px;
    margin-top: 40px;
    margin-right:10px ;
}
