/*DESTINATIONER - ARTIKLER*/ 

/*1. SEKTION - INTRO*/
.destination_intro {
    height: 680px;
    background-image: url(../images/gardens_by_the_bay_intro.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    bottom: 60px;
    z-index: -1;

    
}

.destination_intro p, .destination_intro h1 {
    color: #b5ff90;
    width: 30%;
    text-align: center;
    position: relative;
    top: 425px;
    margin-left: auto;
    margin-right: auto;
}

.destination_intro h1 {
    font-size: 50px;
}

.destination_intro p {
   
    margin-top: 0;
    font-size: 18px;
}

/*2. SEKTION - FAKTA & INTRO-INDHOLD*/

.artikel_start {
    display: flex;

}
.fakta_boks {
    background-color: #fef6e9;
    width: 20%;
    padding: 25px;
}

.fakta_boks li {
    font-size: 12px;
    line-height: 1.7;

}

.grønt_hjørne {
    border-left: 3px solid #b5ff90;
    border-top: 3px solid #b5ff90;
    height: 175px;
    width: 175px;
    position: relative;
    left: 140px;
}

.artikel_start article {
    width: 60%;
    margin-right: 300px;
    margin-left: 50px;
    margin-top: 30px;
}

#anden_sektion p {
    width: 550px;
}

#anden_sektion {
    background-color: #fef6e9;

    margin-left: 425px ;
    padding-left: 10px;
    padding-bottom: 15px;
    
}

/* 3. SEKTION - OPLEVELSER*/

/* OPLEVELSER*/

.oplev_intro {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.oplevelser_sektion hr {
    margin-left: 0;
    position: relative;
    top: 90px;
    width: 320px;
}

.oplev_intro p {
    width: 80%;
}

.sektion_oplevelser {
    display: flex;
}

.oplevelser_sektion img:hover {
    transform: scale(1.05);
}

/*VENSTRE KORT*/

.kort_oplevelser_venstre {
    width: 50%;
    margin-right: 50px;
    
}

.kort_oplevelser_venstre img {
    height: 250px;
    position: relative;
    top: 50px; 
    left: 38px;
}

.oplevelser_tekst_venstre {
    background-color: #fef6e9;
    padding:75px 40px 20px 290px;
    height: 150px;
}


/* HØJRE KORT*/

.kort_oplevelser_højre {
    width: 50%;
    margin-left: 50px;
}

.kort_oplevelser_højre img {
    height: 250px;
    position: relative;
    top: 50px; 
}



.oplevelser_tekst_højre {
    background-color: #fef6e9;
    height: 150px;
    padding: 75px 290px 20px 40px;
}


/*4. SEKTION - afsnit 2*/



.afsnit_to {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.afsnit_to .grønt_hjørne {
    
    position: relative;
    top: 150px;
    left: 0;
}

.afsnit_to li {
    text-decoration: none;
    font-size: 12px;
}

.afsnit_to article {
    margin-left: 30px;
}


/* 5. SEKTION - TIPS OG TRICKS*/

.tips_section {
    background-color: #fef6e9;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 700px;
}

.tips_section article {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    padding-bottom: 100px;
}

.tips_section li {
    text-decoration: none;
    font-size: 12px ;
    margin-top: 8px;
}

#singapore_skyline {
    width: 100%;
    position: absolute;
    top: 3850px;
}



/* KULTUR-ARTIKEL - STREET FOOD*/

#street_food .destination_intro {
    background-image: url(../images/street_food_woman.jpg);
    background-size: cover;
}

#street_food h1 {
    width: 40%;
    padding-top: 25px;
}

#street_food article {
    width: 60%;
    margin: 50px auto 75px auto;
}

#street_food .grønt_hjørne {
    position: absolute;
    left: 200px;
}


/*Liste med retter*/
.liste_med_ting {
    
    margin-bottom: 100px;
}

.liste_med_ting p {
    width: 450px;
}



/*Øverste kort*/

.kulturliste_kort_øverste {
    display: flex;
    margin-left: 199px;
    margin-top: 45px;
    margin-bottom: 20px;
}

.kulturliste_tekst_boks_øverste {
    background-color: #fef6e9;
    height: 120px;
    padding: 50px 250px 50px 50px;
}


/*Nederste kort*/

.kulturliste_kort_nederst {
    display: flex;
    margin-right: 200px;
    position: relative;
    bottom: 25px;
}

.kulturliste_tekst_boks_nederst {
    background-color: #fef6e9;
    height: 120px;
    padding: 50px 100px 50px 200px;
    position: relative;
    top: 80px;
    
}


/*ARTIKEL - FORTÆLLING FRA SINGAPORE*/

/*1. SEKTION - INTRO*/

#exchange_singapore  .destination_intro {
    background-image: url(../images/simone_singaporeskyline.jpg);
    background-size: contain;
    
}

#exchange_singapore  .destination_intro h1  {
    width: 50%;
    position: relative;
    top: 375px;
    
}

#exchange_singapore  .destination_intro p {
    width: 35%;
    position: relative;
    top: 375px;

}

/* 2. SEKTION - FAKTABOKS + INDHOLD*/

#exchange_singapore .fakta_boks {
    background-color: white;
}

.tekst_farvet_kasse {
    background-color: #fef6e9;
    margin-top: 30px;
    padding: 0px 160px 15px 10px;
    position:relative;
    right: 10px;
    width: 123%;
}
.tekst_farvet_kasse p {
    width: 80%;
}


/*3. SEKTION*/

.tredje_sektion {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}
.tredje_sektion article {
    width: 40%;
    margin-left: 150px;
    
}

.tredje_sektion article hr {
    position: relative;
    right: 560px;
    width: 300px;
}

.tredje_sektion img {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

}

.info_boks_grøn {
    border: 3px solid #b5ff90;
    padding: 75px 45px 50px 25px;
    width: 250px;
}

.info_boks_grøn li {
    font-size: 12px;
    margin-top: 15px;
}

/*ARTIKEL LINK*/

.artikel_link {
    border-left: 3px solid #b5ff90;
    font-size: 22px;
    margin-top: 50px;
    margin: 50px 0px 50px 150px;
    padding-left: 20px;
}

.artikel_link a {
    color: black;
}

/* 4. SEKTION - TO AFSNIT - ÉN MED LISTE OG ÉN MED BILLEDE*/

.toafsnit_liste_billede {
    display: flex;
    justify-content: space-between;
}

.toafsnit_liste_billede article {
    background-color: #fef6e9;
    margin-right: 100px;
    padding: 40px 0px 40px 100px;

}

.toafsnit_liste_billede li {
    font-size: 12px;
    width: 70%;
    margin-bottom: 10px;
}

.toafsnit_liste_billede img {
    width: 60%;
}


/*5. SEKTION - TEKSTFELT OG BILLEDER*/

.tekstfelt_billeder  {
    display: flex;
}

.tekstfelt_billeder .grønt_hjørne {
    position: relative;
    left: 290px;
    top: 40px;
}

.tekstfelt_venstre  {
    width: 60%;
    margin-left: 210px;
}

.tekstfelt_venstre article {
    width: 70%;
    margin-top: 75px;
    margin-bottom: 75px;
}

.billeder_højre {
    margin: 100px 150px 0px 0px ;
}

.billeder_højre img{
    width: 90%;
    margin-bottom: 40px;
}

#femte_sektion_fortælling .farvet_kasse {
    height: 350px;
    position: relative;
    bottom: 250px;
    margin-left: 150px;
}



/*ASIEN - DESTINATION OVERVIEW*/

/*INTRO TIL ASIEN*/

#asien_overview .destination_intro {
    background-image: url(../images/asien.jpg);
    background-size: cover;
    height: 700px;
}


/*1. SEKTION - Populære destinationer*/

#kort_indonesien {
    background-image: url(../images/Indonesien.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   width: 65%;
   margin-top: 70px;
   margin-right: 45px;

}

#kort_indonesien .tre_kort_stor_tekst {
    position: relative;
    top: 330px;
}

#kort_indonesien hr {
    position: relative;
    top: 330px;
    right: 320px;
    width: 275px;
}

#asien_overview .artikel_overview {
   height: 500px;